@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
}

main {
  max-width: 360px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.card {
  margin: 0 1.5em;
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  border-radius: 17px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.text {
  padding: 20px 10px;
}

.text h2 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  padding-bottom: 15px;
}

.text p {
  color: hsl(216, 15%, 48%);
  font-weight: 400;
}
